<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="restassuredsuite">
  <test thread-count="5" name="restassuredtest">
    <classes>
      <class name="restassuredapi.TestCase001"/>
      <class name="restassuredapi.TestCase002"/>
      <class name="restassuredapi.TestCase003"/>
      <class name="restassuredapi.TestCase004"/>
      <class name="restassuredapi.TestCase005"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->